{{ form_start(form) }}

{# Form #}
<!-- Content Row -->
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">

            <!-- Card Header -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">{% trans %}Add a product to inventory{% endtrans %}</h6>
            </div>

            <!-- Card Body - search options -->
            <div class="card-body">
                {{ form_row(form.product, {'label':"Indicate the added product"}) }}
                {{ form_row(form.dosage, {'label':"Indicate the dosage of the product (specify the unit, ex: 10 mol/L, 100%)"}) }}
                {{ form_row(form.quantity, {'label':"Indicate the quantity of the product (specify the unit, ex: 500g, 1L)"}) }}
                {{ form_row(form.owner, {'label':"Select the product owner (if there is no specific owner select Laboratory L2n)"}) }}
                {{ form_row(form.storage, {'label':"Indicate where this product will be stored"}) }}
            </div>

        </div>

        <div class="text-right">
            <div style="display:inline-block"><button class="btn btn-primary">{{ button|default('Save') }}</button></div>
            <div style="display:inline-block"><a href="{{ path('inventory.cancel') }}" class="mt-2 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">{% trans %}Cancel{% endtrans %}</a></div>
        </div>

    </div>

</div>

{{ form_end(form) }}