{% extends "base.html.twig" %}

{% block title 'Inventory' %}

{% block body %}

    {% include 'flashes.html.twig' %}

    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">

                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans %}Export inventory{% endtrans %}</h6>
                </div>

                <!-- Card Body - search options -->
                <div class="card-body">
                    <p>{% trans %}If you want, you can export the inventory to a CSV file.
                        You can then easily read your CSV file with your usual spreadsheet.{% endtrans %}</p>
                </div>

            </div>
        </div>
    </div>

    {# recherche #}
    <!-- Content Row -->
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">

                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans %}Search{% trans %}</h6>
                </div>

                <!-- Card Body - search options -->
                <div class="card-body">

                    {{ form_start(form) }}
                    <div class="form-row">
                        <div class="col-lg-6">
                            {{form_row(form.title, {'label':'Title'})}}
                        </div>
                        <div class="col-lg-6">
                            {{ form_row(form.owner, { 'label':'Creator'}) }}
                        </div>

                        <div class="col-lg-6">
                            {{form_row(form.storage, {'label':'Storage'})}}
                        </div>
                        <div class="col-lg-6">
                            {{ form_row(form.entrydate, { 'label':'Creation date'}) }}
                        </div>
                    </div>
                    {{ form_widget(form) }}
                    <button type="submit" class="btn-primary btn">{% trans %}Export{% trans %}</button>
                    {{ form_end(form) }}

                </div>

            </div>
        </div>

    </div>

{% endblock %}