{% extends "base.html.twig" %}

{% block title 'Inventory' %}

{% block body %}

    {% include 'flashes.html.twig' %}

    <h2 class="mb-3">{% trans %}Inventory{% endtrans %}</h2>

    {# recherche #}
    <!-- Content Row -->
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">

                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans %}Search{% endtrans %}</h6>
                </div>

                <!-- Card Body - search options -->
                <div class="card-body">

                    {{ form_start(form) }}
                    <div class="form-row">
                        <div class="col-lg-6">
                            {{form_row(form.title, {'label':'Name/QR_Code'})}}
                        </div>
                        <div class="col-lg-6">
                            {{ form_row(form.owner, { 'label':'Creator'}) }}
                        </div>

                        <div class="col-lg-6">
                            {{form_row(form.storage, {'label':'Storage'})}}
                        </div>
                        <div class="col-lg-6">
                            {{ form_row(form.entrydate, { 'label':'Creation date'}) }}
                        </div>
                    </div>
                    {{ form_widget(form) }}
                    <button type="submit" class="btn-primary btn">{% trans %}Search{% endtrans %}</button>
                    {{ form_end(form) }}

                </div>

            </div>
        </div>

    </div>


    {# liste #}
    <!-- Content Row -->
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">

                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans %}List{% endtrans %}</h6>
                </div>

                <!-- Card Body - search options -->
                <div class="card-body">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{% trans %}Product name{% endtrans %}</th>
                            <th>{% trans %}Concentration/purity{% endtrans %}</th>
                            <th>{% trans %}Quantity{% endtrans %}</th>
                            <th>{% trans %}Storage{% endtrans %}</th>
                            <th>{% trans %}Owner{% endtrans %}</th>
                            <th>{% trans %}Added{% endtrans %}</th>
                            <th>{% trans %}Code{% endtrans %}/th>
                            <th>{% trans %}Action{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for inventory in inventories %}

                            <tr>
                                <td>
                                    {{ inventory.title }}
                                    {% if inventory.mix %}
                                        <i class="fas fa-flask"></i>
                                    {% endif %}
                                </td>
                                <td>{{ inventory.dosage }}</td>
                                <td>{{ inventory.quantity }}</td>
                                <td>
                                        <p style="height: 60px;width: 60px;background-color: {{ inventory.storage.color }};border-radius: 100%;display: table-cell;text-align: center;vertical-align: middle;">
                                            {{ inventory.storage.name }}
                                        </p>
                                <td>
                                    {% if inventory.owner %}
                                        {{ inventory.owner.identity }}
                                    {% endif %}
                                </td>
                                <td>{{ inventory.date }}</td>
                                <td>{{ inventory.qrCode }}</td>
                                <td>
                                    <form method="post" action="{{ path('inventory.delete', {id: inventory.id}) }}" style="display: inline-block">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inventory.id) }}">
                                        <button class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>
                                    </form>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>


                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(inventories) }}
                    </div>

                </div>

            </div>
        </div>

    </div>

{% endblock %}