{% extends "base.html.twig" %}

{% block title 'Inventory' %}

{% block body %}

    <h2 class="mb-3">Inventaire</h2>

    {# recherche #}
    <!-- Content Row -->
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">

                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Recherche</h6>
                </div>

                <!-- Card Body - search options -->
                <div class="card-body">

                    {{ form_start(form) }}
                    <div class="form-row">
                        <div class="col-lg-5">
                            {{form_row(form.title)}}
                        </div>
                        <div class="col-lg-2">
                            <button type="submit" class="btn-primary btn">Rechercher</button>
                        </div>
                    </div>
                    {{ form_end(form) }}

                </div>

            </div>
        </div>

    </div>


    {# liste #}
    <!-- Content Row -->
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">

                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Liste</h6>
                </div>

                <!-- Card Body - search options -->
                <div class="card-body">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nom du produit</th>
                            <th>Dosage</th>
                            <th>Quantité</th>
                            <th>Stockage</th>
                            <th>Propriétaire</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for inventory in inventories %}

                            <tr>
                                <td>{{ inventory.title }}</td>
                                <td>{{ inventory.dosage }}</td>
                                <td>{{ inventory.quantity }}</td>
                                <td>
                                    {% if inventory.product %}
                                    <p style="height: 60px;width: 60px;background-color: {{inventory.product.storage.color}};border-radius: 100%;display: table-cell;text-align: center;vertical-align: middle;">
                                        {{ inventory.product.storage.name }}
                                    </p>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if inventory.owner %}
                                        {{ inventory.owner.identity }}
                                    {% endif %}
                                </td>
                                <td>
                                    <form method="post" action="{{ path('inventory.delete', {id: inventory.id}) }}" style="display: inline-block">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inventory.id) }}">
                                        <button class="btn btn-danger">Supprimer</button>
                                    </form>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>

                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(inventories) }}
                    </div>

                </div>

            </div>
        </div>

    </div>

{% endblock %}