{% extends "base.html.twig" %}

{% block title 'Gérer mes mélanges' %}

{% block body %}

    {% include 'flashes.html.twig' %}


    {# Table #}
    <!-- Content Row -->
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">

                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans %}My solutions{% endtrans %}</h6>
                </div>

                <!-- Card Body - search options -->
                <div class="card-body">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{% trans %}Title{% endtrans %}</th>
                            <th>{% trans %}Quantity{% endtrans %}</th>
                            <th>{% trans %}Storage{% endtrans %}</th>
                            <th>{% trans %}Created{% endtrans %}</th>
                            <th>{% trans %}Actions{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for inventory in inventories %}
                            {% if inventory.mix  %}
                            <tr>
                                <td><a href="{{ path('mix.show', {slug: inventory.mix.slug, id: inventory.mix.id}) }}"><h6>{{ inventory.mix.title }} {% if inventory.mix.confidentiality %} <i class="fas fa-eye-slash"></i> {% endif %} </h6></a></td>
                                <td>{{ inventory.mix.quantity }}</td>
                                <td>
                                    {% if inventory.mix.storage %}
                                        <p style="height: 60px;width: 60px;background-color: {{inventory.mix.storage.color}};border-radius: 100%;display: table-cell;text-align: center;vertical-align: middle;">
                                            {{ inventory.mix.storage.name }}
                                        </p>
                                    {% endif %}
                                </td>
                                <td>{{ inventory.mix.date }}</td>
                                <td>
                                    <a href="{{ path('inventory.edit', {id: inventory.id}) }}" class="btn btn-secondary">{% trans %}Edit{% endtrans %}</a>
                                    <form method="post" action="{{ path('mix.delete', {id: inventory.id}) }}" style="display: inline-block">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inventory.id) }}">
                                        <button class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>
                                    </form>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>

                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(inventories) }}
                    </div>

                </div>

            </div>


        </div>

    </div>

{% endblock %}