{% extends "base.html.twig" %}

{% block title 'contact' %}

{% block body %}

    {% include 'flashes.html.twig' %}

    {# Recherche #}
<!-- Content Row -->
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">

            <!-- Card Header -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-success">{% trans %}Informations{% endtrans %}</h6>
            </div>

            <!-- Card Body - search options -->
            <div class="card-body">
                <p>{% trans %}You can use the form below to contact the administrators of the site and thus notify them
                        if you have any problems while browsing.{% endtrans %}</p>
            </div>

        </div>
    </div>

    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">

            <!-- Card Header -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">{% trans %}Contact{% endtrans %}</h6>
            </div>

            <!-- Card Body - search options -->
            <div class="card-body">

                {{ form_start(form) }}
                <div class="form-row">
                    <div class="col">
                        {{ form_row(form.firstname, {'label' : 'Firstname'}) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.lastname, { 'label':'Lastname'}) }}
                    </div>
                </div>
                {{ form_row(form.email, { 'label':'Email'}) }}
                {{ form_row(form.objet, { 'label':'Object'}) }}
                {{ form_row(form.message, { 'label':'Message'}) }}
                <button type="submit" class="btn-primary btn">{% trans %}Send{% endtrans %}</button>
                {{ form_end(form) }}

            </div>

        </div>
    </div>


</div>

{% endblock %}