<div class="container-fluid">

    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">

            <!-- Card Header -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h5 class="m-0 font-weight text-primary">{% trans %}You have scanned{% endtrans %}
                    <strong class="font-weight-bold">{{ inventory.title }}</strong>
                    {% trans %}, what do you want to do ?{% endtrans %}</h5>
            </div>

            <!-- Card Body - search options -->
            <div class="card-body">
                <a href="{{ path('inventory.use', {id: inventory.id}) }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-vial"></i> {% trans %}Use product{% endtrans %}</a>
                    {% if inventory.product.securityFormNameFile %}
                        <a href="{{ path('product.show.securityForm', {slug: inventory.product.slug, id: inventory.product.id}) }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-file-pdf fa-sm text-white-50"></i> Afficher la fiche de sécurité complete</a>
                    {% else %}
                        <a href="" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm disabled"><i class="fas fa-times fa-sm text-white-50"></i> {% trans %}No security sheet{% endtrans %}</a>
                    {% endif %}
                {% if is_granted('ROLE_INVENTORY_MANAGER') and (app.user.activate or is_granted('ROLE_ADMIN')) %}
                    <a href="{{ path('inventory.index', {title: inventory.qrCode}) }}" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm"><i class="fas fa-boxes"></i> {% trans %}See inventory{% endtrans %}</a>
                {% endif %}
            </div>

        </div>
    </div>

    <!-- Content Row -->
    <div class="row mt-2">

        <div class="col-xl-4 col-lg-3">
            <div class="card bg-{% if inventory.product.colorName %}{{inventory.product.colorName}}{% else %}primary{%endif%} text-white shadow mb-4">
                <div class="card-body">
                    <div class="text-center">
                        {{ inventory.product.frenchName }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Area Chart -->
        <div class="col-xl-4 col-lg-3">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans %}Storage{% endtrans %}</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div style="background-color: {{inventory.product.storage.color}};" class="rounded text-center">
                        {{ inventory.product.storage.name }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Area Chart -->
        <div class="col-xl-4 col-lg-3">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans %}Bin{% endtrans %}</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div style="background-color: {{inventory.product.trashCan.color}};" class="rounded text-center">
                        {{ inventory.product.trashCan.name }}
                    </div>
                </div>
            </div>
        </div>

    </div>

        <div class="row mt-2">
            <!-- Area Chart -->
            <div class="col-xl-6 col-lg-3">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">{% trans %}Danger pictograms{% endtrans %}</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="text-center">
                            {% for dangerPictogram in inventory.product.dangerPictograms %}
                                {% if dangerPictogram.imageName %}
                                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 250px; height:auto;" src="{{ vich_uploader_asset(dangerPictogram, 'imageFile') }}" alt="">
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Area Chart -->
            <div class="col-xl-6 col-lg-3">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">{% trans %}Obligation pictograms{% endtrans %}</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="text-center">
                            {% for obligationPictogram in inventory.product.obligationPictograms %}
                                {% if obligationPictogram.imageName %}
                                    <img class="img-fluid px-2 px-sm-4 mt-3 mb-4" style="width: 250px; height:auto;" src="{{ vich_uploader_asset(obligationPictogram, 'imageFile') }}" alt="" >
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>