{% extends "base.html.twig" %}

{% block title 'Editer utilisateur' %}

{% block body %}

	<div class="container mt-4">

		<h1>Créer l'utilisateur</h1>

		{{ form_start(form) }}
		<div class="row">
			<div class="col-md-6">{{ form_row(form.username) }}</div>
			<div class="col-md-6">{{ form_row(form.password) }}</div>
		</div>
		<div class="row">
			<div class="col-md-4">{{ form_row(form.roles) }}</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6">{{ form_row(form.name) }}</div>
					<div class="col-md-6">{{ form_row(form.familyName) }}</div>
				</div>
				<div class="row">
					<div class="col-md-6">{{ form_row(form.emailAddress) }}</div>
					<div class="col-md-6">{{ form_row(form.phone) }}</div>
				</div>
			</div>
		</div>
		<button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
		{{ form_end(form) }}

	</div>


{% endblock %}
