{% extends "base.html.twig" %}

{% block title 'Product list' %}

{% block body %}
    <h2 class="mb-3">{% trans %}Product list{% endtrans %}</h2>

    {# recherche #}
    <!-- Content Row -->
    <div class="row">


        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">

                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans %}Search{% endtrans %}</h6>
                </div>

                <!-- Card Body - search options -->
                <div class="card-body">

                    {{ form_start(form) }}
                    <div class="form-row">
                        <div class="col-lg-6">
                            {{form_row(form.frenchName, {'label':'Product'})}}
                        </div>
                        <div class="col-lg-6">
                            {{form_row(form.casNumber, {'label':'CAS'})}}
                        </div>
                            <div class="col-lg-4">
                                {{ form_row(form.family, {'label':'Family'}) }}
                            </div>
                            <div class="col-lg-4">
                                {{ form_row(form.storage, {'label':'Storage'})}}
                            </div>
                            <div class="col-lg-4">
                                {{ form_row(form.trashCan, {'label':'Bin'}) }}

                        </div>
                    </div>
                    {{ form_widget(form) }}
                    <button type="submit" class="btn-primary btn">{% trans %}Search{% endtrans %}</button>
                    {{ form_end(form) }}

                </div>

            </div>
        </div>

    </div>


    {# liste #}
    <!-- Content Row -->
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">

                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans %}List{% endtrans %}</h6>
                </div>

                <!-- Card Body - search options -->
                <div class="card-body">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{% trans %}Name{% endtrans %}</th>
                            <th>{% trans %}Family{% endtrans %}</th>
                            <th>{% trans %}Storage{% endtrans %}</th>
                            <th>{% trans %}Bin{% endtrans %}</th>
                            <th>{% trans %}In stock{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            
                                <tr>
                                    <td><a href="{{ path('product.show', {slug: product.slug, id: product.id}) }}"><h6>{{ product.frenchName }}</h6></a></td>
                                    <td>
                                        {% for family in product.families %}
                                        <p>{{ family.name }}</p>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% if product.storage %}
                                        <p style="height: 60px;width: 60px;background-color: {{product.storage.color}};border-radius: 100%;display: table-cell;text-align: center;vertical-align: middle;">
                                        {{ product.storage.name }}
                                        </p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if product.trashCan%}
                                        <p style="height: 60px;width: 60px;background-color: {{product.trashCan.color}};border-radius: 100%;display: table-cell;text-align: center;vertical-align: middle;">
                                        {{ product.trashCan.name }}
                                        </p>
                                    {% endif%}
                                    </td>
                                    <td>
                                        {% if product.stock %}
                                            <strong><i class="fas fa-check fa-2x" style="color: green"></i></strong>
                                        {% elseif not product.nomenclature == 'H20' %}
                                            <strong><i class="fas fa-times fa-2x" style="color: red"></i></strong>
                                        {% endif %}
                                    </td>
                                </tr>
                            
                        {% endfor %}
                        </tbody>
                    </table>

                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(products) }}
                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}