{% extends "base.html.twig" %}

{% block title 'Product list' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Labo L2N</h1>
</div>

<div class="jumbotron">
    <div class="container">
        {{ form_start(form) }}
            <div class="form-row">
                <div class="col">
                    {{form_row(form.frenchName)}}
                </div>
                <div class="col">
                    {{form_row(form.casNumber)}}
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn-primary btn">Rechercher</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>

<div class="container">
    <h2>Liste des produits</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Stockage</th>
                <th>Poubelle</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>
                        <h5>
                            <a href="{{ path('product.show', {slug: product.slug, id: product.id}) }}">
                                {{ product.frenchName }}
                            </a>
                        </h5>
                    </td>
                    <td>
                        <p>{{ product.storage.name }}</p>
                    </td>
                    <td>
                        <p>{{ product.trashCan.name }}</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(products) }}
    </div>

</div>
{% endblock %}