{% extends "base.html.twig" %}

{% block title 'Product list' %}

{% block body %}

    <h2 class="mb-3">Liste des produits</h2>

    {# recherche #}
    <!-- Content Row -->
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">

                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Recherche</h6>
                </div>

                <!-- Card Body - search options -->
                <div class="card-body">

                    {{ form_start(form) }}
                    <div class="form-row">
                        <div class="col-lg-6">
                            {{form_row(form.frenchName)}}
                        </div>
                        <div class="col-lg-6">
                            {{form_row(form.casNumber)}}
                        </div>
                            <div class="col-lg-6">
                                {{ form_row(form.storage, {'label':'Stockage'})}}
                            </div>
                            <div class="col-lg-6">
                                {{ form_row(form.trashCan, {'label':'Poubelle'}) }}

                        </div>
                    </div>
                    {{ form_widget(form) }}
                    <button type="submit" class="btn-primary btn">Rechercher</button>
                    {{ form_end(form) }}

                </div>

            </div>
        </div>

    </div>


    {# liste #}
    <!-- Content Row -->
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">

                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Liste</h6>
                </div>

                <!-- Card Body - search options -->
                <div class="card-body">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Stockage</th>
                            <th>Poubelle</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            
                                <tr>
                                    <td><a href="{{ path('product.show', {slug: product.slug, id: product.id}) }}"><h6>{{ product.frenchName }}</h6></a></td>
                                    <td>
                                        <p style="height: 60px;width: 60px;background-color: {{product.storage.color}};border-radius: 100%;display: table-cell;text-align: center;vertical-align: middle;">
                                        {{ product.storage.name }}
                                        </p>
                                    </td>
                                        <td>
                                        <p style="height: 60px;width: 60px;background-color: {{product.trashCan.color}};border-radius: 100%;display: table-cell;text-align: center;vertical-align: middle;">
                                        {{ product.trashCan.name }}
                                        </p>
                                    </td>
                                </tr>
                            
                        {% endfor %}
                        </tbody>
                    </table>

                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(products) }}
                    </div>

                </div>

            </div>
        </div>

    </div>

{% endblock %}