{% extends "base.html.twig" %}

{% block title product.frenchName %}


{% block body %}

	{%if product.securityFormNameFile%}
      	<a href="{{ path('product.show.securityForm', {slug: product.slug, id: product.id}) }}" class="mt-2 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-file-pdf fa-sm text-white-50"></i> Afficher la fiche de sécurité complette</a>
		<a href="{{ vich_uploader_asset(product, 'securityFormFile') }}" class="mt-2 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" download="{{product.frenchName}}_fiche_securite"><i class="fas fa-download fa-sm text-white-50"></i> Télécharger la fiche de sécurité complette</a>
	{% else %}
		<a href="" class="mt-2 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm disabled"><i class="fas fa-times fa-sm text-white-50"></i> Pas de fiche de sécurité</a>
	{%endif%}
	<a  href="" class="printSummary mt-2 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-print fa-sm text-white-50"></i> Imprimer la fiche de sécurité résumé</a>
	<a href="" class="printQrCode mt-2 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-print fa-sm text-white-50"></i> Imprimer le qr du produit</a>

	{% include "/product/summarySheet.html.twig" %}
	
{% endblock %}

{% block javascripts %}
{{ parent() }}

{{ encore_entry_script_tags('printDiv') }}


{% endblock %}


