{% extends "base.html.twig" %}

{% block title product.frenchName %}


{% block body %}

	{%if product.securityFormNameFile%}
      	<a href="{{ path('product.show.securityForm', {slug: product.slug, id: product.id}) }}" class="mt-2 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Afficher la fiche de sécurité complette</a>
		<a href="{{ vich_uploader_asset(product, 'securityFormFile') }}" class="mt-2 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" download="{{product.frenchName}}_fiche_securite"><i class="fas fa-download fa-sm text-white-50"></i> Télécharger la fiche de sécurité complette</a>
		

	{%endif%}
	<a href="{{ path('product.show.download', {slug: product.slug, id: product.id}) }}" class="mt-2 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Télécharger la fiche de sécurité résumé</a>
	<a href="{{ qr_code_url( url('product.show', {slug: product.slug, id: product.id}) ) }}" class="mt-2 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" download="{{product.frenchName}}_qr_code"><i class="fas fa-download fa-sm text-white-50"></i> Télécharger le qr du produit</a>


	{% include "/product/summarySheet.html.twig" %}
	
{% endblock %}
