{% extends "base.html.twig" %}

{% block title 'Gérer Poubelles' %}

{% block body %}

	<div class="container mt-4">

		<h1>Gérer les poubelles</h1>

		{% include 'admin/adminFlashes.html.twig' %}

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Action</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for trashCan in trashCans %}
					<tr>
						<td>{{ trashCan.name }}</td>
						<td>
							<a href="{{ path('productmanager.trashCan.edit', {id: trashCan.id}) }}" class="btn btn-secondary">Editer</a>
							<form method="post" action="{{ path('productmanager.trashCan.delete', {id: trashCan.id}) }}" style="display: inline-block">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trashCan.id) }}">
								<button class="btn btn-danger">Supprimer</button>
							</form>
						</td>
					</tr>

				{% endfor %}
			</tbody>
		</table>
		
		{# display navigation #}
		<div class="navigation">
			{{ knp_pagination_render(products) }}
		</div>

		<div class="text-right">
			<a href="{{ path('productmanager.trashCan.new') }}" class="btn btn-primary">Créer une nouveau poubelle</a>
		</div>
	</div>
{% endblock %}
