{% extends "base.html.twig" %}

{% block title 'Gérer Stockages' %}

{% block body %}

	<div class="container mt-4">

		<h1>Gérer les stockages</h1>

		{% include 'admin/adminFlashes.html.twig' %}

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Action</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for storage in storages %}
					<tr>
						<td>{{ storage.name }}</td>
						<td>
							<a href="{{ path('productmanager.storage.edit', {id: storage.id}) }}" class="btn btn-secondary">Editer</a>
							<form method="post" action="{{ path('productmanager.storage.delete', {id: storage.id}) }}" style="display: inline-block">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ storage.id) }}">
								<button class="btn btn-danger">Supprimer</button>
							</form>
						</td>
					</tr>

				{% endfor %}
			</tbody>
		</table>

		<div class="text-right">
			<a href="{{ path('productmanager.storage.new') }}" class="btn btn-primary">Créer un nouveau storage</a>
		</div>
	</div>
{% endblock %}
