{% extends "base.html.twig" %}

{% block title 'Gérer Stockages' %}

{% block body %}

	{% include 'flashes.html.twig' %}

	<h2>{% trans %}Manage the storages{% endtrans %}</h2>

	<!-- Content Row -->
	<div class="row">

		<!-- Area Chart -->
		<div class="col-xl-12 col-lg-12">
			<div class="card shadow mb-4">

				<!-- Card Header -->
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">{% trans %}List{% endtrans %}</h6>
				</div>

				<!-- Card Body - search options -->
				<div class="card-body">

					<table class="table table-striped">
						<thead>
						<tr>
							<th>{% trans %}Title{% endtrans %}</th>
							<th>{% trans %}Actions{% endtrans %}</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						{% for storage in storages %}
							<tr>
								<td>{{ storage.name }}</td>
								<td>
									<a href="{{ path('productmanager.storage.edit', {id: storage.id}) }}" class="btn btn-secondary">{% trans %}Edit{% endtrans %}</a>
									<form method="post" action="{{ path('productmanager.storage.delete', {id: storage.id}) }}" style="display: inline-block">
										<input type="hidden" name="_method" value="DELETE">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ storage.id) }}">
										<button class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>
									</form>
								</td>
							</tr>

						{% endfor %}
						</tbody>
					</table>

					{# display navigation #}
					<div class="navigation">
						{{ knp_pagination_render(storages) }}
					</div>

				</div>

			</div>
		</div>

	</div>

{% endblock %}
