{% extends "base.html.twig" %}

{% block title 'Gérer les utilisateurs' %}

{% block body %}

	{% include 'flashes.html.twig' %}

	{# Recherche #}
	<!-- Content Row -->
	<div class="row">

		<!-- Area Chart -->
		<div class="col-xl-12 col-lg-12">
			<div class="card shadow mb-4">

				<!-- Card Header -->
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">Recherche</h6>
				</div>

				<!-- Card Body - search options -->
				<div class="card-body">

					{{ form_start(form) }}
						{{ form_widget(form) }}
						<button type="submit" class="btn-primary btn">Rechercher</button>
					{{ form_end(form) }}

				</div>

			</div>
		</div>

	</div>


	{# liste #}
	<!-- Content Row -->
	<div class="row">

		<!-- Area Chart -->
		<div class="col-xl-12 col-lg-12">
			<div class="card shadow mb-4">

				<!-- Card Header -->
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">Gérer les utilisateurs</h6>
				</div>

				<!-- Card Body - search options -->
				<div class="card-body">

					<table class="table table-striped">
						<thead>
						<tr>
							<th class="">Utilisateur</th>
							<th>Activation</th>
							<th>Actions</th>
						</tr>
						</thead>
						<tbody>

						{% for user in users %}
							<tr>
								<td>{{ user.username }} : {{ user.rolesString }}</td>
								<td>oui/non</td>
								<td>
									<a href="{{ path('usermanager.user.edit', {id: user.id}) }}" class="btn btn-secondary">Editer</a>
								</td>
							</tr>
						{% endfor %}

						</tbody>
					</table>

				</div>

			</div>

			{# buttons #}
			<div class="text-right">
				<a href="{{ path('usermanager.user.new') }}" class="btn btn-primary">Créer un nouvel utilisateur</a>
			</div>

		</div>

	</div>

{% endblock %}
