{% extends "base.html.twig" %}

{% block title 'Editer utilisateur' %}

{% block body %}

	{# Creation #}
	<!-- Content Row -->
	<div class="row">

		<!-- Area Chart -->
		<div class="col-xl-12 col-lg-12">
			<div class="card shadow mb-4">

				<!-- Card Header -->
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">Créer un utilisateur</h6>
				</div>

				<!-- Card Body - search options -->
				<div class="card-body">

					{{ form_start(form) }}
					<div class="row">
						<div class="col-md-6">{{ form_row(form.username) }}</div>
						<div class="col-md-6">{{ form_row(form.password) }}</div>
					</div>
					<div class="row">
						<div class="col-md-6">{{ form_row(form.name) }}</div>
						<div class="col-md-6">{{ form_row(form.familyName) }}</div>
					</div>
					<div class="row">
						<div class="col-md-6">{{ form_row(form.emailAddress) }}</div>
						<div class="col-md-6">{{ form_row(form.phone) }}</div>
					</div>

				</div>

			</div>

			<div class="text-right">
				<div style="display:inline-block"><button class="btn btn-primary">{{ button|default('Enregistrer') }}</button></div>
				<div style="display:inline-block">{{ form_row(form.cancel) }}</div>
			</div>

		</div>

	</div>


{% endblock %}
