

{{ form_start(form) }}

{# Form #}
<!-- Content Row -->
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">

            <!-- Card Header -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Ajouter une nouvelle solution</h6>
            </div>

            <!-- Card Body - search options -->
            <div class="card-body">
                {{ form_row(form.title, {'label':"Nom de votre solution"}) }}
                {{ form_row(form.description, {'label':"Description de votre solution"}) }}
                {{ form_row(form.quantity, {'label':"Quantité produite de votre solution (précisez l'unité)"}) }}
                {{ form_row(form.recipe, {'label':"Sélectionnez la recette que vous avez utilisé"}) }}
                {{ form_row(form.storage, {'label':"Indiquez où vous conservez votre solution"}) }}
                {{ form_row(form.confidentiality, {'label':'Solution confidentielle'}) }}
            </div>

        </div>

        <div class="text-right">
            <div style="display:inline-block"><button class="btn btn-primary">{{ button|default('Enregistrer') }}</button></div>
            <div style="display:inline-block"><a href="{{ path('mix.cancel') }}" class="mt-2 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> Annuler</a></div>
        </div>

    </div>

</div>

{{ form_end(form) }}