{% extends "base.html.twig" %}

{% block title 'Ajouter un mélange' %}

{% block body %}

    {% include 'flashes.html.twig' %}

    {# Import recipe #}
    <!-- Content Row -->
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">

                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Utiliser une recette existante</h6>
                </div>

                <!-- Card Body - search options -->
                <div class="card-body">

                    {{ form_start(form) }}
                    <div class="form-row">
                        <div class="col">
                            {{ form_row(form.title) }}
                        </div>
                    </div>
                    {{ form_widget(form) }}
                    <button type="submit" class="btn-primary btn">Importer la recette</button>
                    {{ form_end(form) }}

                </div>

            </div>
        </div>

    </div>

    {# New recipe #}
    <!-- Content Row -->
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">

                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Créer une nouvelle recette</h6>
                </div>

                <!-- Card Body - search options -->
                <div class="card-body">
                    <div style="display:inline-block"><a href="{{ path('recipe.new') }}" class="mt-2 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Créer la recette</a></div>
                </div>
            </div>
        </div>
    </div>

    {# Without recipe #}
    <!-- Content Row -->
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">

                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Créer un mélange sans recette</h6>
                </div>

                <!-- Card Body - search options -->
                <div class="card-body">
                    <div style="display:inline-block"><a href="{{ path('mix.add') }}" class="mt-2 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Créer le mélange</a></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}