{% extends "base.html.twig" %}

{% block title 'Gérer solution' %}

{% block body %}

    {% include 'flashes.html.twig' %}

    {# Recherche #}
    <!-- Content Row -->
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">

                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-success">{% trans %}Informations{% endtrans %}</h6>
                </div>

                <!-- Card Body - search options -->
                <div class="card-body">
                    <p>{% trans %}Solutions represent the physical instantiation of a recipe.
                        When you create a solution it will be added to the lab inventory{% endtrans %}</p>
                </div>

            </div>
        </div>

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">

                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans %}Search{% endtrans %}</h6>
                </div>

                <!-- Card Body - search options -->
                <div class="card-body">

                    {{ form_start(form) }}
                    <div class="form-row">
                        <div class="col">
                            {{ form_row(form.title, { 'label':'Name'})  }}
                        </div>
                        <div class="col">
                            {{ form_row(form.creator, { 'label':'Creator'}) }}
                        </div>
                   </div>
                    {{ form_widget(form) }}
                    <button type="submit" class="btn-primary btn">{% trans %}Search{% endtrans %}</button>
                    {{ form_end(form) }}

                </div>

            </div>
        </div>

    </div>

    {# Table #}
    <!-- Content Row -->
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">

                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans %}List{% endtrans %}</h6>
                </div>

                <!-- Card Body - search options -->
                <div class="card-body">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{% trans %}Title{% endtrans %}</th>
                            <th>{% trans %}Creator{% endtrans %}</th>
                            <th>{% trans %}Quantity{% endtrans %}</th>
                            <th>{% trans %}Storage{% endtrans %}</th>
                            <th>{% trans %}Created{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for mix in mixes %}
                            <tr>
                                <td><a href="{{ path('mix.show', {slug: mix.slug, id: mix.id}) }}"><h6>{{ mix.title }}</h6></a></td>
                                <td>{{ mix.creator.identity }}</td>
                                <td>{{ mix.quantity }}</td>
                                <td>
                                    {% if mix.storage %}
                                        <p style="height: 60px;width: 60px;background-color: {{mix.storage.color}};border-radius: 100%;display: table-cell;text-align: center;vertical-align: middle;">
                                            {{ mix.storage.name }}
                                        </p>
                                    {% endif %}
                                </td>
                                <td>{{ mix.date }}</td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>

                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(mixes) }}
                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}