{% extends "base.html.twig" %}

{% block title 'Gérer solution' %}

{% block body %}

    {% include 'flashes.html.twig' %}

    {# Recherche #}
    <!-- Content Row -->
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">

                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-success">Informations</h6>
                </div>

                <!-- Card Body - search options -->
                <div class="card-body">
                    <p>Les solutions représentent l'instanciation physique d'une recette.
                        Lorsque vous créez une solution elle sera ajoutée à l'inventaire des produits présents dans le laboratoire.</p>
                </div>

            </div>
        </div>

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">

                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Recherche</h6>
                </div>

                <!-- Card Body - search options -->
                <div class="card-body">

                    {{ form_start(form) }}
                    <div class="form-row">
                        <div class="col">
                            {{ form_row(form.title, { 'label':'Nom de la solution'})  }}
                        </div>
                        <div class="col">
                            {{ form_row(form.creator, { 'label':'Créateur'}) }}
                        </div>
                   </div>
                    {{ form_widget(form) }}
                    <button type="submit" class="btn-primary btn">Rechercher</button>
                    {{ form_end(form) }}

                </div>

            </div>
        </div>

    </div>

    {# Table #}
    <!-- Content Row -->
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">

                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Liste</h6>
                </div>

                <!-- Card Body - search options -->
                <div class="card-body">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Créateur</th>
                            <th>Quantité</th>
                            <th>Stockage</th>
                            <th>Date de création</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for mix in mixes %}
                            <tr>
                                <td><a href="{{ path('mix.show', {slug: mix.slug, id: mix.id}) }}"><h6>{{ mix.title }}</h6></a></td>
                                <td>{{ mix.creator.identity }}</td>
                                <td>{{ mix.quantity }}</td>
                                <td>
                                    {% if mix.storage %}
                                        <p style="height: 60px;width: 60px;background-color: {{mix.storage.color}};border-radius: 100%;display: table-cell;text-align: center;vertical-align: middle;">
                                            {{ mix.storage.name }}
                                        </p>
                                    {% endif %}
                                </td>
                                <td>{{ mix.date }}</td>
                                <td>
                                    {% if mix.recipe %}
                                    <a href="{{ path('recipe.show', {slug: mix.recipe.slug, id: mix.recipe.id}) }}" class="btn btn-success">Voir la recette</a>
                                    {% endif %}
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>

                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(mixes) }}
                    </div>

                </div>

            </div>

            <div class="text-right">
                <div style="display:inline-block">
                    <a href="{{ path('mix.new') }}" class="btn btn-primary">Créer une nouvelle solution</a>
                </div>
            </div>

        </div>

    </div>

{% endblock %}