{% extends "base.html.twig" %}

{% block title 'Gérer mes solutions' %}

{% block body %}

    {% include 'flashes.html.twig' %}


    {# Table #}
    <!-- Content Row -->
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">

                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Toutes mes solutions</h6>
                </div>

                <!-- Card Body - search options -->
                <div class="card-body">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Quantité</th>
                            <th>Stockage</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for mix in mixes %}
                            <tr>
                                <td>{{ mix.title }}</td>
                                <td>{{ mix.quantity }}</td>
                                <td>
                                    {% if mix.storage %}
                                        <p style="height: 60px;width: 60px;background-color: {{mix.storage.color}};border-radius: 100%;display: table-cell;text-align: center;vertical-align: middle;">
                                            {{ mix.storage.name }}
                                        </p>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if mix.recipe %}
                                        <a href="{{ path('recipe.show', {slug: mix.recipe.slug, id: mix.recipe.id}) }}" class="btn btn-success">Voir la recette</a>
                                    {% endif %}
                                    <a href="{{ path('inventory.editMix', {id: mix.id}) }}" class="btn btn-secondary">Editer</a>
                                    <form method="post" action="{{ path('mix.delete', {id: mix.id}) }}" style="display: inline-block">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mix.id) }}">
                                        <button class="btn btn-danger">Supprimer</button>
                                    </form>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>

                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(mixes) }}
                    </div>

                </div>

            </div>

            <div class="text-right">
                <div style="display:inline-block">
                    <a href="{{ path('mix.new') }}" class="btn btn-primary">Créer un nouveau mélange</a>
                </div>
            </div>

        </div>

    </div>

{% endblock %}