{% extends "base.html.twig" %}

{% block title 'Gérer GHS' %}

{% block body %}

	{% include 'admin/adminFlashes.html.twig' %}

	<h2>Gérer les mentions de danger GHS</h2>

	{#	#}{# Recherche #}
	{#	<!-- Content Row -->#}
	{#	<div class="row">#}

	{#		<!-- Area Chart -->#}
	{#		<div class="col-xl-12 col-lg-12">#}
	{#			<div class="card shadow mb-4">#}

	{#				<!-- Card Header -->#}
	{#				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">#}
	{#					<h6 class="m-0 font-weight-bold text-primary">Recherche</h6>#}
	{#				</div>#}

	{#				<!-- Card Body - search options -->#}
	{#				<div class="card-body">#}

	{# TODO : recherche picto #}

	{#				</div>#}

	{#			</div>#}
	{#		</div>#}

	{#	</div>#}

	{# Table #}
	<!-- Content Row -->
	<div class="row">

		<!-- Area Chart -->
		<div class="col-xl-12 col-lg-12">
			<div class="card shadow mb-4">

				<!-- Card Header -->
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">Liste</h6>
				</div>

				<!-- Card Body - search options -->
				<div class="card-body">

					<table class="table table-striped">
						<thead>
						<tr>
							<th>Titre</th>
							<th>Action</th>
						</tr>
						</thead>
						<tbody>
						{% for hazardStatement in hazardStatements %}
							<tr>
								<td>{{ hazardStatement.code }}</td>
								<td>
									<a href="{{ path('productmanager.hazardStatement.edit', {id: hazardStatement.id}) }}" class="btn btn-secondary">Editer</a>
									<form method="post" action="{{ path('productmanager.hazardStatement.delete', {id: hazardStatement.id}) }}" style="display: inline-block">
										<input type="hidden" name="_method" value="DELETE">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hazardStatement.id) }}">
										<button class="btn btn-danger">Supprimer</button>
									</form>
								</td>
							</tr>

						{% endfor %}
						</tbody>
					</table>

					{# display navigation #}
					<div class="navigation">
						{{ knp_pagination_render(hazardStatements) }}
					</div>

				</div>

			</div>

			<div class="text-right">
				<div style="display:inline-block">
					<a href="{{ path('productmanager.hazardStatement.new') }}" class="btn btn-primary">Créer une nouvelle mention de danger</a>
				</div>
			</div>

		</div>

	</div>

{% endblock %}
