{% extends "base.html.twig" %}

{% block title 'Gérer GHS' %}

{% block body %}

	{% include 'flashes.html.twig' %}

	<h2>{% trans %}Manage GHS Hazard Statements{% endtrans %}</h2>

	{# Recherche #}
	<!-- Content Row -->
	<div class="row">

		<!-- Area Chart -->
		<div class="col-xl-12 col-lg-12">
			<div class="card shadow mb-4">

				<!-- Card Header -->
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">{% trans %}Search{% endtrans %}</h6>
				</div>

				<!-- Card Body - search options -->
				<div class="card-body">

					{{ form_start(form) }}
						<div class="form-row">
							<div class="col">
								{{ form_row(form.code) }}
							</div>
						</div>
						{{ form_widget(form) }}
						<button type="submit" class="btn-primary btn">{% trans %}Search{% endtrans %}</button>
					{{ form_end(form) }}

				</div>

			</div>
		</div>

	</div>


	{# Table #}
	<!-- Content Row -->
	<div class="row">

		<!-- Area Chart -->
		<div class="col-xl-12 col-lg-12">
			<div class="card shadow mb-4">

				<!-- Card Header -->
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">{% trans %}List{% endtrans %}</h6>
				</div>

				<!-- Card Body - search options -->
				<div class="card-body">

					<table class="table table-striped">
						<thead>
						<tr>
							<th>{% trans %}Title{% endtrans %}</th>
							<th>{% trans %}Actions{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						{% for hazardStatement in hazardStatements %}
							<tr>
								<td>{{ hazardStatement.code }}</td>
								<td>
									<a href="{{ path('productmanager.hazardStatement.edit', {id: hazardStatement.id}) }}" class="btn btn-secondary">{% trans %}Edit{% endtrans %}</a>
									<form method="post" action="{{ path('productmanager.hazardStatement.delete', {id: hazardStatement.id}) }}" style="display: inline-block">
										<input type="hidden" name="_method" value="DELETE">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hazardStatement.id) }}">
										<button class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>
									</form>
								</td>
							</tr>

						{% endfor %}
						</tbody>
					</table>

					{# display navigation #}
					<div class="navigation">
						{{ knp_pagination_render(hazardStatements) }}
					</div>

				</div>

			</div>
		</div>

	</div>

{% endblock %}
