{% extends "base.html.twig" %}

{% block title 'Informations personnelles' %}

{% block body %}

	{% include 'flashes.html.twig' %}

	{# Personal data #}
	<!-- Content Row -->
	<div class="row">

		<!-- Area Chart -->
		<div class="col-xl-12 col-lg-12">
			<div class="card shadow mb-4">
				<!-- Card Header -->
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">{% trans %}My profile{% endtrans %}</h6>
				</div>

				<!-- Card Body - search options -->
				<div class="card-body">
					<div class="row">
						<div class="col-md-6">{% trans %}Username{% endtrans %} : {{ app.user.username }}</div>
					</div><div class="row">
						<div class="col-md-6">{% trans %}Firstname{% endtrans %} : {{ app.user.name }}</div>
						<div class="col-md-6">{% trans %}Lastname{% endtrans %} : {{ app.user.familyName }}</div>
					</div>
					<div class="row">
						<div class="col-md-6">{% trans %}Email{% endtrans %} : {{ app.user.emailAddress }}</div>
						<div class="col-md-6">{% trans %}Phone{% endtrans %} : {{ app.user.phone }}</div>
					</div>
				</div>

			</div>

			<div class="text-right">
				<div style="display:inline-block"><a href="{{ path('user.edit') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">{% trans %}Edit profil{% endtrans %}</a></div>
				<div style="display:inline-block"><a href="{{ path('user.editpassword') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">{% trans %}Edit password{% endtrans %}</a></div>
			</div>

		</div>

	</div>

{% endblock %}
