<!DOCTYPE html>
<html>

<body>
<h3>Nouveau message en provenance du site L2n</h3>
<p/>
<div>
    <div>Nouveau message de {{ contact.firstname }} {{ contact.lastname }} | {{ contact.email }}</div>
    <p/>
    <div>OBJET : {{ contact.objet }}</div>
    <p/>
    <div>{{ contact.message }}</div>

</div>
</body>
</html>